{% extends 'base.html' %}
{% load static %}

{% block title %}博客详情{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'highlight/styles/github-dark.min.css' %}">
    <script src="{% static 'highlight/highlight.min.js' %}"></script>
{% endblock %}

{% block main %}
    <h1>{{ blog.title }}</h1>
    <hr>
    <div class="mt-2">
        <img src="{% static 'images/avatar.webp' %}" alt="" height="28" width="28" class="rounded-circle">
        <span class="ms-2">{{ blog.author.username }} </span>
        <span class="ms-2">于</span>
        <span class="ms-2">{{ blog.pub_time }} </span>发布
    </div>
    <hr>
    <div class="mt-2">
        {{ blog.content|safe }}
    </div>
    <hr>
    <div>
        <h3>评论({{ blog.comments.all|length }})</h3>
        <form action="{% url 'blog:submit_comment' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="blog_id" value="{{ blog.id }}">
            <div>
                <input type="text" class="form-control" placeholder="请输入..." name="content">
            </div>
            <div class="text-end mt-2">
                <button type="submit" class="btn btn-primary">
                    提交
                </button>
            </div>
        </form>
    </div>
    <div class="mt-2">
        <ul class="list-group list-group-flush">
            {% for comment in blog.comments.all %}
                <li class="list-group-item mb-3">
                    <div class="d-flex justify-content-between text-body-secondary">
                        <div class="user-info">
                            <img src="{% static 'images/avatar.webp' %}" height="30" width="30" alt=""
                                 class="rounded-circle">
                            <span class="ms-2">{{ comment.author.username }}</span>
                        </div>
                        <div>{{ comment.pub_time }}</div>
                    </div>
                    <span class="mt-2">{{ comment.content }}</span>
                </li>
            {% endfor %}

        </ul>
    </div>
    <script>
        hljs.highlightAll();
    </script>
{% endblock %}